#container {
  display: grid;
  background-color: white;
  width: 600px;
  height: 600px;
  margin: auto;
}

#container div{ /*each block*/
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
